<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="bj" src="{{ "/assets/img/bj.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Beijing </h3>
    <ul>
      <li> the capital of China </li>
    </ul>
    <p> Beijing is a metropolis in northern China and the capital of the People's Republic of China. It is one of the four municipalities of the PRC, which are equivalent to provinces in China's administrative structure. Beijing is one of the Four Great Ancient Capitals of China. </p>
    <a class="project-link" href="#">love it</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="sh" src="{{ "/assets/img/sh.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Shanghai </h3>
    <ul>
      <li> Magic City </li>
    </ul>
    <p> Shanghai is a dynamic growing prosperity of the city, is China's largest commercial and financial center, is also the Western Pacific region important international port city. Its extensive contacts within and outside the transport, communications more developed, is attracting more and more attention to the eyes. </p>
    <a class="project-link" href="#">love it </a>
  </div>
</div>
